body {
    background-color: #D8C9C4;
}

.navigatsioon {
	text-align: center;
	padding: 25px 0px;
}

.navigatsioon a {
	border: 3px solid DarkGrey;
	border-radius: 8px;
	background: LightGrey;
	margin: 10px;
	padding: 10px;
	color: Black;
	text-decoration: none;
}

.koostisosad {
	font-weight: bold;
}

.valmistamine {
	font-weight: bold;
}